* {
    font-family: 'Quicksand', serif;
}

.nav-header li a {
    color: #101218;
    font-size: 18px;
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.btn-primary {
    border-radius: 30px;
    background: #111319;
    border: unset;
    font-weight: 600;
}

.btn-hero {
    border-radius: 40px;
    background: #101218;
    padding: 10px 30px;
    box-shadow: 2px 10px 20px 0px rgba(11, 16, 63, 0.40);
}

.btn-login {
    box-shadow: unset;
    background: #101218;
    padding: 10px 30px;
}

.circle-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.circle-item img {
    width: 50px;
    height: 50px;
    margin-right: -10px;
}

.hero-home .using .title {
    color: #000;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
}

.hero-home {
    display: flex;
    align-items: center;
}

.hero-home h2 {
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
}

/*.img-hero {*/
/*    display: flex;*/
/*    justify-content: flex-end;*/
/*}*/

.img-hero img {
    max-height: 500px;
}

.imgsl1-course {
    max-width: 100%;
}

.card-img-overlay {
    padding: 50px 50px 50px 100px;
}

.why h2 {
    color: #111319;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.feature.col.one {
    border-radius: 30px;
    background: #AEE5FF;
    padding: 20px;
}

.feature.col.two {
    border-radius: 30px;
    background: #B4FFC6;
    padding: 20px;
}

.feature.col.one {
    border-radius: 30px;
    background: #AEE5FF;
    padding: 20px;
}

.feature.col.two {
    border-radius: 30px;
    background: #B4FFC6;
    padding: 20px;
}

.feature.col i {
    color: #fff;
}

.feature.col.one i {
    background: #A3A3F5;
    padding: 15px;
    border-radius: 50%;
}

.feature.col.two i {
    padding: 15px;
    background: #FE7D76;
    border-radius: 50%;
}

.feature h5 {
    color: #3B0200;
    font-size: 24px !important;
    font-weight: 600;
}

.feature p {
    color: #3B0200;
    font-size: 16px;
    font-weight: 400;
}

.voucher-home h3 {
    color: #0B0B0C;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.voucher-home .bg-circe {
    text-align: center;
}

.voucher-home .bg-circe p {
    border-radius: 30px;
    background: #F1F1F1;
    margin: 0;
    padding: 5px 10px;
}

.course-home h2 {
    color: #0C0E14;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.row.form-search-home {
    border-radius: 50px;
    background: #EEE;
}

.row.form-search-home p {
    margin: 0;
    color: #666;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 10px 10px;
}

.form-search-home .btn-search {
    border-radius: 50px;
    background: #111319;
}

.form-search-home .btn-search p {
    color: #fff;
}

.card-body .card-head {
    display: flex;
    justify-content: space-between;
}

.category, .feedback {
    display: flex;
    justify-content: flex-end;
}

.card-body .category p.text-right, .card-body .feedback p {
    padding: 5px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #FFC4DF;
}

.card-body .card-head h3 {
    color: #000;
    text-align: right;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.card-bottom {
    display: flex;
    justify-content: space-between;
}

.card-bottom .author {
    border-radius: 50px;
    background: #E2F6FF;
    padding: 7px 30px;
    font-size: 16px;
    font-weight: 600;
}

.card-bottom .rating {
    border-radius: 10px;
    background: #FDF7EF;
    color: #666;
    padding: 7px 20px;
}

.card-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
}

.card-price .price {
    color: #3B0200;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1px;
}

.card-price .btn {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 30px;
}

.card-price a {
    color: #FFFFFF;
}

.card {
    border-radius: 30px;
    border: 1px solid #DEDEDE;
}

.card-bottom .category {
    border-radius: 10px;
    background: #E2F6FF;
    padding: 5px 10px;
    font-size: 14px;
}

.card-name-course h3 {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

form.news {
    margin: 0;
    border-radius: 30px;
    background: #D9D9D9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

form.news input, form.news .form-control:focus {
    background: unset;
    border: 0;
    padding-top: 0;
    box-shadow: unset;
}

form.news .col-auto {
    margin: 0;
    padding: 0;
}

form.news button.btn.btn-primary {
    margin: 0;
}

ul.nav.nav-pills.menu-footer .nav-link {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.siderbar-dashboard {
    border-radius: 20px;
    background: #070707;
    padding: 30px;
    min-height: 100vh;
    position: relative;
}

.siderbar-dashboard .menu-left {
    position: sticky;
    top: 20px;
}

.siderbar-dashboard .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    border-radius: 30px;
    background: #8D8DF5;
}

.img-logo-dashboard {
    margin-bottom: 50px;
}

.siderbar-dashboard .nav-pills .fa-solid {
    margin-right: 10px;
    font-size: 16px;
}

.siderbar-dashboard .nav-pills svg {
    width: 18px;
}

.content-dashboard {
    padding: 30px;
}

.content-dashboard .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-dashboard .header-content h3 {
    color: #111824;
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}

.content-dashboard .header-content span {
    padding: 5px 30px 5px 10px !important;
    font-size: 15px;
}

.content-dashboard .intro-dashboard-page h3 {
    color: #111824;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}

.content-dashboard .intro-dashboard-page p {
    color: #5B5F68;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.content-dashboard .header-content .day-now p {
    border-radius: 50px;
    border: 1px solid #E9E9EA;
    margin: 0;
    padding: 5px 20px;
}

.form-search-course input {
    border-radius: 50px;
    background: #F4F4F4;
    padding: 5px 10px;
}

.form-search-course input::placeholder {
    font-size: 14px;
    color: #646464;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.content-dashboard .rounded-pill {
    background: #3B0200;
}

.content-dashboard .rounded-pill img {
    border: 3px solid #FFF;
}

.content-dashboard .rounded-pill .day-buy p {
    color: #666;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
}

.content-dashboard .dashboard-course-user .category {
    justify-content: flex-start;
}

.content-dashboard .dashboard-course-user .card-body .card-head h3 {
    text-align: left;
}

.content-dashboard .dashboard-course-user button.btn.resume-course.btn-primary {
    border-radius: 40px;
    background: #8D8DF5;
    padding: 10px 30px;
}

.row.dashboard-course-user.my-5 .card-head img {
    width: 100%;
}

.content-dashboard .video-course iframe {
    border-radius: 20px;
    border: 1px solid #ECEEEE;
}

.content-dashboard .content-course h3 {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.content-dashboard .content-course p {
    color: #666;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.siderbar-dashboard h2 {
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.siderbar-dashboard hr {
    opacity: 1;
    color: #fff;
}

.siderbar-dashboard .accordion {
    --bs-accordion-bg: unset;
}

.siderbar-dashboard .accordion-item {
    border: 0;
}

.siderbar-dashboard .accordion-button {
    color: #FFF;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    padding: 10px 0;
    background: unset;
    box-shadow: unset;
}

.siderbar-dashboard .accordion-button::after {
    content: "\f078" !important;
    font-family: 'FontAwesome';
    background: unset;
    width: unset;
}

.siderbar-dashboard .table-of-contents {
    padding: 0 15px;
}

.siderbar-dashboard .accordion-body {
    padding: 0;
}

.siderbar-dashboard .list-group-item {
    background: unset;
    color: #FFF;
    font-family: Quicksand;
    font-size: 15px;
    font-style: normal;
    padding: 7px 10px;
}

.siderbar-dashboard .list-group-item.active {
    border-radius: 50px;
    background: #E2F6FF;
    color: #0070FD;
    font-family: Quicksand;
    font-weight: 600;
    padding: 5px 10px;
    border: 0;
}

.content-course .main-content p, .content-course .main-content b {
    font-family: 'Montserrat';
}

a.btn-hero.btn.btn-primary::after {
    content: "\f0a9";
    font-family: 'FontAwesome';
    margin-left: 10px;
}

.author i.fa-solid.fa-graduation-cap {
    color: #0070FD;
}

.rating .fa-solid {
    color: #FEC43F;
}

.content-font p {
    color: #101218;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 12px;
}

.content-knowledge p:before, .content-other-info p:before {
    content: "\f058";
    font-family: 'FontAwesome';
    margin-right: 10px;
    color: #0d6efd;
}

.content-requirements p:before {
    content: "\f044";
    font-family: 'FontAwesome';
    margin-right: 10px;
    color: #0d6efd;
}

.content-font.main-content {
    position: relative;
}

.content-font.main-content .column-2 {
    margin-top: 0;
}

.content-font.main-content .column-2 .content-1 {
    position: sticky;
    top: 20px;
    margin-top: 0;
}

a.btn-order-course {
    font-size: 20px;
    border-radius: 40px;
    background: #3B0200;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
}

.modal-content .wrapper {
    width: 100%;
}

.btn-close-form {
    display: flex;
    justify-content: flex-end;
}

.login-link p a {
    font-size: 16px;
    color: #0d6efd !important;
    font-weight: 600;
}

.card-img-overlay {
    padding: 0;
}

.content-font-course .accordion-button, .content-font-course .accordion-item:first-of-type .accordion-button {
    background: #eee;
    margin-bottom: 15px;
    padding: 10px;
    border: 0 !important;
}

.content-font-course .accordion-item {
    border: 0 !important;
}

.content-font-course h3 {
    font-size: 16px;
    font-weight: 700;
}

.table-of-contents a.list-group-item.list-group-item-action {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

span.course-content-name {
    color: #0070FD;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

form.edit-course-content {
    border-radius: 40px;
    border: 1px solid #ECEEEE;
    padding: 30px;
}

form.edit-course-content i {
    background: #E2F6FF;
    border-radius: 50px;
    font-size: 14px;
    padding: 10px;
    color: #0070FD;
}

form.edit-course-content .form-control {
    border-radius: 20px;
    border: 1px solid #E8E8E8;
}

form.edit-course-content button.btn.btn-primary {
    border-radius: 30px;
    background: #0070FD;
    padding: 10px 20px;
}

.content-detail-list h3 {
    font-weight: 600;
}

a.btn.btn-primary.btn-sm.add-detail-content {
    background: #E2F6FF;
}

a.btn.btn-primary.btn-sm.add-detail-content span {
    color: #0B103F;
}

a.btn.btn-primary.btn-sm.add-detail-content i {
    color: #0070FD;
}


.course-detail {
    border-radius: 15px;
    border: 1px solid #DEDEDE;
    padding: 20px;
    display: flex;
    align-items: center;
}

.row.course-detail h3 {
    color: #0B0B0B;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
}

.row.course-detail p {
    color: #9E9E9E;
    font-family: Quicksand;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
}

.row.course-detail .btn-content {
    border-radius: 5px;
}

a.btn.btn-primary.learn.btn-content {
    color: #5E5EF0;
    background: #C5C5FE;
}

a.btn.btn-primary.edit.btn-content {
    background: #E2F6FF;
    color: #0070FD;
}

a.btn.btn-primary.delete.btn-content {
    background: #FFC4DF;
    color: #FF3290;
}

.row.course-detail i {
    font-size: 18px;
    color: #0B0B0B;
}

.action-course a.btn {
    border-radius: 5px;
}

.col-3.using .title {
    margin: 0;
}

span.font-weight-bold {
    font-weight: 700;
}

.time-buy p {
    font-size: 14px;
}

p.name-display {
    font-size: 15px;
    padding: 0;
    margin: 0;
}

/*check-out page*/

span.font-weight-bold {
    font-weight: 700;
}

.time-buy p {
    font-size: 14px;
}

p.name-display {
    font-size: 15px;
    padding: 0;
    margin: 0;
}

form.check-out label {
    margin-bottom: 5px;
}

form.check-out .item-order {
    border-radius: 15px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 112, 253, 0.22);
    padding: 30px 50px;
}

.status-order i {
    color: #fff;
}

.status-order span {
    padding: 6px 15px;
}

.card-head img.card-img {
    width: 100px;
    height: 100px;
    border-radius: 15px;
    object-fit: cover;
}

.col-6.column-2 .content-1 img {
    width: 100%;
    height: 350px;
    border-radius: 15px;
}

.row.card-head img {
    width: 100%;
    object-fit: cover;
}

.col-lg-9.content-dashboard .body-content .card-body .col-2 img {
    width: 100%;
    height: 100px;
    border-radius: 15px;
    object-fit: cover;
}

.video-course.mb-3 img {
    width: 100%;
    border-radius: 15px;
}

.col-lg-9.box-item.d-flex.justify-content-around img {
    width: 200px;
    height: 100px;
    margin-right: 10px;
    border-radius: 15px;
}

.avatar.col-4 img {
    width: 100%;
}

.form-search-home input {
    border: 0;
    background: unset;
}

.form-search-home .col-auto {
    margin: 0;
}

.row.form-search-home {
    padding: 0px;
    margin: 0;
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.form-search-home .col-auto .btn {
    padding: 7px 20px;
    font-size: 15px;
    font-weight: 500;
}

.form-search-home .form-control:focus {
    border: 0;
    background: unset;
    box-shadow: none;
}

.form-control:focus {
    border: 1px solid #D0CCCB;
    box-shadow: 1px 2px 1px #eee;
}

div#alertNotLogIn .modal-content .modal-body {
    text-align: left;
}

div#alertNotLogIn .modal-content .btn.btn-primary {
    border-radius: 5px;
    background: #0d6efd;
}

.alert.alert-danger ul {
    margin-bottom: 0;
}

@media only screen and (max-width: 768px) {
    button#dropdownContentButton {
        padding: 13px 20px !important;
        font-size: 15px;
    }

    .col-lg-9.content-dashboard .body-content .card-body .col-2 img, .row.card-head img {
        height: 300px;
    }

    .category, .feedback {
        justify-content: unset;
        margin-top: 10px;
    }

    .card-body .card-head h3 {
        text-align: unset;
    }

    .card-price {
        margin-top: 10px;
    }

    .card-course-home {
        margin-bottom: 15px;
    }

    .read-more-home {
        justify-content: center !important;
    }

    #feedback .row.card-head img {
        text-align: center;
        height: auto;
    }

    .col-lg-3 {
        width: 50%;
    }

    .card.text-bg-dark img {
        height: 300px;
        border-radius: 30px;
    }

    .card.text-bg-dark {
        text-align: center;
    }

    .card.text-bg-dark ul.nav.nav-pills.menu-footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .hero-home .row.d-flex.align-items-center .col-sm-12 {
        width: 100% !important;
        text-align: center;
        margin: 20px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero-home {
        display: flex;
        align-items: center;
        text-align: center;
    }

    .hero-home h2 {
        font-size: 30px;
    }

    .hero-home .row.d-flex.align-items-center .col-sm-12 {
        width: 100% !important;
        text-align: center;
        margin: 20px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero-home .d-flex.align-items-center {
        width: 100%;
    }

    .hero-home .d-flex.align-items-center img {
        width: 100%;
    }

    .hero-home .img-hero img {
        max-width: 100%;
    }

    .row.my-5.justify-content-around .feature {
        margin-bottom: 20px;
    }

    .row.question-course {
        padding: 5px;
    }

    #row4Course {
        text-align: center;
    }

    div#row1Course p.col-md-8.fs-5 {
        font-size: 15px !important;
    }

    .row.card-head img {
        height: auto;
    }

    form.edit-course-content {
        border-radius: unset;
        border: unset;
        padding: unset;
    }

    /*.siderbar-dashboard {*/
    /*    position: absolute;*/
    /*    z-index: 9999;*/
    /*    display: none;*/
    /*}*/
}

@media only screen and (max-width: 1024px) {
    .card.text-bg-dark img {
        min-height: 400px;
    }

    img.card-img {
        min-height: 300px;
    }

    .content-1 {
        margin-left: 0;
    }

    .row.card-head img {
        min-height: 250px;
        object-fit: cover;
    }
}

@media only screen and (max-width: 1199px) {
    .row.card-head img {
        min-height: 200px;
        object-fit: cover;
    }
}

.row.question-course .accordion-body {
    text-align: left;
}

input#form-search-name, input#form-search-author {
    border-right: 1px #788287 solid;
}