<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Master New Skills with LTTA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../libs/fontawesome/css/all.min.css">
    <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="shortcut icon" href="../public/image/favaticon.png" type="image/x-icon">
    <link rel="stylesheet" href="../public/main.css">
    <link rel="stylesheet" href="../public/truongnq.css">
</head>
<header>
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <div class="col-md-3 mb-2 mb-md-0">
                <a href="/chi_tiet_khoa_hoc/public" class="d-inline-flex link-body-emphasis text-decoration-none">
                    <img src="../public/image/logo-website.png" alt="Logo Website">
                </a>
            </div>

            <ul class="nav nav-header col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-4">Trang chủ</a></li>
                <li><a href="#" class="nav-link px-4">Khóa học</a></li>
                <li><a href="#" class="nav-link px-4">Cộng đồng</a></li>
                <li><a href="#" class="nav-link px-4">Về chúng tôi</a></li>
            </ul>

            <div class="col-md-3 text-end">
                <button type="button" class="btn-login btn btn-primary">Đăng nhập</button>
            </div>
        </div>
    </div>
</header>
<body>
<section>
    <div class="container">
        <div class="card">
            <img src="../public/image/image%208.png" class="card-img" alt="ảnh"/>
            <div class="text-1">
                <div class="card-img-overlay">
                    <div style="margin-top: 60px; margin-left: 50px">
                        <h4>Lập trình JavaScript Cơ Bản</h4>
                        <h5>Học Javascript cơ bản phù hợp cho người chưa từng học lập trình.</h5>
                        <h5>Với hơn 100 bài học và có bài tập thực hành sau mỗi bài học.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-2 container mt-4">
        <div class="row content-font">
            <div class="col-6">
                <h1 class="mb-4">Bạn sẽ học được gì?</h1>
                <div class="row">
                    <div class="col-1">
                        <img src="../public/image/Group%2060.png" height="30" width="30"/>
                    </div>
                    <div class="col-11">
                        <p>Hiểu chi tiết về các khái niệm cơ bản trong JS</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1">
                        <img src="../public/image/Group%2060.png" height="30" width="30"/>
                    </div>
                    <div class="col-11">
                        <p>Xây dựng được website đầu tiên kết hợp với JS</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1">
                        <img src="../public/image/Group%2060.png" height="30" width="30"/>
                    </div>
                    <div class="col-11">
                        <p>Tự tin khi phỏng vấn với kiến thức vững chắc</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1">
                        <img src="../public/image/Group%2060.png" height="30" width="30"/>
                    </div>
                    <div class="col-11">
                        <p> Có nền tảng để học các thư viện và framework JS</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1">
                        <img src="../public/image/Group%2060.png" height="30" width="30"/>
                    </div>
                    <div class="col-11">
                        <p>Nắm chắc các tính năng trong phiên bản ES6</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1">
                        <img src="../public/image/Group%2060.png" height="30" width="30"/>
                    </div>
                    <div class="col-11">
                        <p>Ghi nhớ các khái niệm nhờ bài tập trắc nghiệm</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1">
                        <img src="../public/image/Group%2060.png" height="30" width="30"/>
                    </div>
                    <div class="col-11">
                        <p>Thành thạo DOM APIs để tương tác với trang web</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1">
                        <img src="../public/image/Group%2060.png" height="30" width="30"/>
                    </div>
                    <div class="col-11">
                        <p>Ghi nhớ các khái niệm nhờ bài tập trắc nghiệm </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1">
                        <img src="../public/image/Group%2060.png" height="30" width="30"/>
                    </div>
                    <div class="col-11">
                        <p>Nâng cao tư duy với các bài kiểm tra với testcases</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1">
                        <img src="../public/image/Group%2060.png" height="30" width="30"/>
                    </div>
                    <div class="col-11">
                        <p>Các bài thực hành như Tabs, Music Player</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1">
                        <img src="../public/image/Group%2060.png" height="30" width="30"/>
                    </div>
                    <div class="col-11">
                        <p>Nhận chứng chỉ khóa học do F8 cấp</p>
                    </div>
                </div>
                <hr class="mb-3">
                <div class="content-font-course">
                    <h1 class="mb-4">Nội dung khóa học</h1>
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <h3>1. Giới thiệu</h3>
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p><i class="fa-solid fa-video"></i>1. Giới thiệu</p>
                                </div>
                                <div class="accordion-body">
                                    <p> <i class="fa-solid fa-video"></i>2. Bài Giảng</p>
                                </div>
                                <div class="accordion-body">
                                    <p><i class="fa-solid fa-file"></i>3. Bài đọc</p>
                                </div>
                                <div class="accordion-body">
                                    <p><i class="fa-solid fa-star"></i>4. Bài tập</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <h3>2. Introduction Javascript</h3>
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="accordion-body">
                                        <p><i class="fa-solid fa-video"></i>1. Giới thiệu</p>
                                    </div>
                                    <div class="accordion-body">
                                        <p><i class="fa-solid fa-video"></i>2. Bài Giảng</p>
                                    </div>
                                    <div class="accordion-body">
                                        <p><i class="fa-solid fa-file"></i>3. Bài đọc</p>
                                    </div>
                                    <div class="accordion-body">
                                        <p><i class="fa-solid fa-star"></i>4. Bài tập</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <h3>3. Introduction Javascript</h3>
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="accordion-body">
                                        <p><i class="fa-solid fa-video"></i>1. Giới thiệu</p>
                                    </div>
                                    <div class="accordion-body">
                                        <p><i class="fa-solid fa-video"></i>2. Bài Giảng</p>
                                    </div>
                                    <div class="accordion-body">
                                        <p><i class="fa-solid fa-file"></i>3. Bài đọc</p>
                                    </div>
                                    <div class="accordion-body">
                                        <p><i class="fa-solid fa-star"></i>4. Bài tập</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="mt-4 mb-4">
                <h1 class="mb-4">Yêu cầu</h1>
                <div class="row">
                    <div class="col-1">
                        <img src="../public/image/Group%2060.png" height="30" width="30"/>
                    </div>
                    <div class="col-11">
                        <p>Máy vi tính kết nối internet (Windows, Ubuntu hoặc MacOS)</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1">
                        <img src="../public/image/Group%2060.png" height="30" width="30"/>
                    </div>
                    <div class="col-11">
                        <p>Ý thức tự học cao, trách nhiệm cao, kiên trì bền bỉ không ngại cái khó</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1">
                        <img src="../public/image/Group%2060.png" height="30" width="30"/>
                    </div>
                    <div class="col-11">
                        <p>Không được nóng vội, bình tĩnh học, làm bài tập sau mỗi bài học</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1">
                        <img src="../public/image/Group%2060.png" height="30" width="30"/>
                    </div>
                    <div class="col-11">
                        <p>Không được nóng vội, bình tĩnh học, làm bài tập sau mỗi bài học</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1">
                        <img src="../public/image/Group%2060.png" height="30" width="30"/>
                    </div>
                    <div class="col-11">
                        <p>Khi học nếu có khúc mắc hãy tham gia hỏi/đáp tại group FB</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1">
                        <img src="../public/image/Group%2060.png" height="30" width="30"/>
                    </div>
                    <div class="col-11">
                        <p>Bạn không cần biết gì hơn nữa, trong khóa học tôi sẽ chỉ cho bạn những gì bạn cần phải biết</p>
                    </div>
                </div>
            </div>
            <div class="col-6 column-2">
                <div class="content-1">
                    <img src="../public/image/Rectangle%2052.png"/>
                    <div class="mt-5">
                        <h1>Javascript Foudatament</h1>
                        <p>JavaScript là ngôn ngữ lập trình phía client, được sử dụng chủ yếu trong các ứng dụng web để tạo ra các hiệu ứng tương tác trên trang web</p>
                    </div>
                    <h1 class="mt-5">1.200.000 VND</h1>
                    <div class="mt-4 col-4" style="background: #0dcaf0; padding: 5px; border-radius: 40px" >
                        <h2 style="align-content: space-around">ThanhPV</h2>
                    </div>
                    <div class="mt-4">
                        <div class="row">
                            <div class="col-1">
                                <img src="../public/image/Group%2060.png" height="30" width="30" alt="icon"/>
                            </div>
                            <div class="col-11">
                                <p>Trình độ cơ bản</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1">
                                <img src="../public/image/Group%2060.png" height="30" width="30" alt="icon"/>
                            </div>
                            <div class="col-11">
                                <p>30 giờ học</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1">
                                <img src="../public/image/Group%2060.png" height="30" width="30" alt="icon"/>
                            </div>
                            <div class="col-11">
                                <p>30 bài học, thực hành</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1">
                                <img src="../public/image/Group%2060.png" height="30" width="30" alt="icon"/>
                            </div>
                            <div class="col-11">
                                <p>Học mọi lúc</p>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <button class="btn btn-primary" style="width: 100%;color: white; font-size: 20px;font-weight: 600"><h3>Đăng kí học</h3></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="../libs/bootstrap/js/bootstrap.bundle.js"></script>
</body>
</html>