<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Master New Skills with LTTA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../libs/fontawesome/css/all.min.css">
    <link rel="shortcut icon" href="../public/image/favaticon.png" type="image/x-icon">
    <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="../public/main.css">
    <link rel="stylesheet" href="../public/course.css">
</head>
<header>
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <div class="col-md-3 mb-2 mb-md-0">
                <a href="/C0623G1_Ho_Ngoc_An_Module_3/castudyWeb/Casestudy_Course_Management/public"
                   class="d-inline-flex link-body-emphasis text-decoration-none">
                    <img src="../public/image/logo-website.png" alt="Logo Website">
                </a>
            </div>

            <ul class="nav nav-header col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-4">Trang chủ</a></li>
                <li><a href="#" class="nav-link px-4">Khóa học</a></li>
                <li><a href="#" class="nav-link px-4">Cộng đồng</a></li>
                <li><a href="#" class="nav-link px-4">Về chúng tôi</a></li>
            </ul>

            <div class="col-md-3 text-end">
                <button type="button" class="btn-login btn btn-dark">Đăng nhập</button>
            </div>
        </div>
    </div>
</header>
<body>
<section id="all-course-page">
    <div class="container">
        <div class="row course" id="row1Course">
            <div class="col-md-12">
                <div class="card text-bg-dark">
                     <img src="../public/image/imgSL1.png" class="card-img" alt="...">
                         <div class="card-img-overlay">
                             <div class="col-md-8">
                                 <p class="card-title">Tất cả khóa học</p><br/>
                                 <p class="card-text justify-content-center">Lorem ipsum dolor sit amet consectetur adipisiccing elit.
                                     Dolores pariatur quibusdam adipisci dignissimos voluptate amet, dolorum dicta maiores!
                                     Minima cupiditate enum, illo odio explicabo temporibus sequi enim maxime facere! Quis!</p>
                             </div>
                             <div class="col-md-4"></div>
                         </div>
                </div>
            </div>
        </div>
        <div class="row course" id="row2Course">
            <div class="col-md-4 " id="row2CourseSmall1" style="border-style: ridge">
                <div class="row course 2 row1" style="height: 150px">
                    <div class="col-md-5">
                        <img src="../public/image/Course%20JV.png">
                    </div>
                    <div class="col-md-7" style="text-align: right">
                        <button type="button" class="btn-login btn btn-dark" style="font-size: 20px" >Javascript</button>
                        <p style="font-size: 30px; font-weight: bold" >JavaScript  Foudatament</p>
                    </div>
                </div>
                <div class="row course 2 row2">
                    <p style="height: 120px">JavaScript là ngôn ngữ lập trình phía client, được sử dụng chủ yếu trong các ứng dụng web để tạo ra các hiệu ứng tương tác trên trang web</p>
                </div>
                <div class="row course 2 row3">
                    <div class="col-md-10"><img src="../public/image/Course%20mu.png" >ThanhPV</div>
                    <div class="col-md-2"><img src="../public/image/🦆course_icon%20_star.png">4.8</div>
                </div>
                <div class="row course 2 row4">
                    <div class="col-md-7 fw-bold">1.200.000 VNĐ</div>
                    <div class="col-md-5 fw-bold" style="text-align: right">Join now  <img src="../public/image/🦆%20icon%20_arrow%20right.png"></div>
                </div>
            </div>
            <div class="col-md-4 " id="row2CourseSmall2" style="border-style: ridge">
                <div class="row course 2 row5" style="height: 150px">
                    <div class="col-md-6">
                        <img src="../public/image/Course%20JS.png">
                    </div>
                    <div class="col-md-6" style="text-align: right">
                        <button type="button" class="btn-login btn btn-warning" style="font-size: 20px"  >Java</button>
                        <p class="fw-bold" style="font-size: 30px" >Basic Java <br/>Tutorial</p>
                    </div>
                </div>
                <div class="row course 2 row6">
                    <p style="height: 120px">Java là một ngôn ngữ lập trình đa nền tảng, sử dụng để phát triển các ứng dụng desktop, mobile, web và một số hệ thống phức tạp</p>
                </div>
                <div class="row course 2 row7">
                    <div class="col-md-10"><img src="../public/image/Course%20mu.png">LoanTTV</div>
                    <div class="col-md-2"><img src="../public/image/🦆course_icon%20_star.png">4.8</div>
                </div>
                <div class="row course 2 row8">
                    <div class="col-md-7 fw-bold">1.200.000 VNĐ</div>
                    <div class="col-md-5 fw-bold" style="text-align: right" >Join now  <img src="../public/image/🦆%20icon%20_arrow%20right.png"></div>
                </div>
            </div>
            <div class="col-md-4" id="row2CourseSmall3" style="border-style: ridge">
                <div class="row course 2 row9" style="height: 150px">
                    <div class="col-md-6">
                        <img src="../public/image/Course%20SQl.png">
                    </div>
                    <div class="col-md-6" style="text-align: right">
                        <button type="button" class="btn-login btn btn-danger" style="font-size: 20px">Database</button>
                        <p class="fw-bold" style="font-size: 30px" >Basic SQL<br/> Tutorial</p>
                    </div>
                </div>
                <div class="row course 2 row10">
                    <p style="height: 120px">SQL là ngôn ngữ lập trình để truy vấn và quản lý cơ sở dữ liệu, được sử dụng trong các ứng dụng liên quan đến dữ liệu như hệ thống quản lý cơ sở dữ liệu, trang web kinh doanh và các ứng dụng phân tích dữ liệu</p>
                </div>
                <div class="row course 2 row11">
                    <div class="col-md-10"><img src="../public/image/Course%20mu.png">AnHN</div>
                    <div class="col-md-2"><img src="../public/image/🦆course_icon%20_star.png">4.8</div>
                </div>
                <div class="row course 2 row12">
                    <div class="col-md-7 fw-bold">1.200.000 VNĐ</div>
                    <div class="col-md-5 fw-bold" style="text-align: right">Join now  <img src="../public/image/🦆%20icon%20_arrow%20right.png"></div>
                </div>
            </div>
        </div>
        <div class="row course" id="row3Course">
            <div class="col-md-4" id="row3CourseSmall1"  style="border-style: ridge">
                <div class="row course 3 row1" style="height: 150px">
                    <div class="col-md-5">
                        <img src="../public/image/Course%20JV.png">
                    </div>
                    <div class="col-md-7" style="text-align: right">
                        <button type="button" class="btn-login btn btn-dark" style="font-size: 20px" >Javascript</button>
                        <p style="font-size: 30px; font-weight: bold" >JavaScript  Foudatament</p>
                    </div>
                </div>
                <div class="row course 3 row2">
                    <p style="height: 120px">JavaScript là ngôn ngữ lập trình phía client, được sử dụng chủ yếu trong các ứng dụng web để tạo ra các hiệu ứng tương tác trên trang web</p>
                </div>
                <div class="row course 3 row3">
                    <div class="col-md-10"><img src="../public/image/Course%20mu.png" >ThanhPV</div>
                    <div class="col-md-2"><img src="../public/image/🦆course_icon%20_star.png">4.8</div>
                </div>
                <div class="row course 3 row4">
                    <div class="col-md-7 fw-bold">1.200.000 VNĐ</div>
                    <div class="col-md-5 fw-bold" style="text-align: right">Join now  <img src="../public/image/🦆%20icon%20_arrow%20right.png"></div>
                </div>
            </div>
            <div class="col-md-4 " id="row3CourseSmall2" style="border-style: ridge">
                <div class="row course 3 row5" style="height: 150px">
                    <div class="col-md-6">
                        <img src="../public/image/Course%20JS.png">
                    </div>
                    <div class="col-md-6" style="text-align: right">
                        <button type="button" class="btn-login btn btn-warning" style="font-size: 20px"  >Java</button>
                        <p class="fw-bold" style="font-size: 30px" >Basic Java <br/>Tutorial</p>
                    </div>
                </div>
                <div class="row course 3 row6">
                    <p style="height: 120px">Java là một ngôn ngữ lập trình đa nền tảng, sử dụng để phát triển các ứng dụng desktop, mobile, web và một số hệ thống phức tạp</p>
                </div>
                <div class="row course 3 row7">
                    <div class="col-md-10"><img src="../public/image/Course%20mu.png">LoanTTV</div>
                    <div class="col-md-2"><img src="../public/image/🦆course_icon%20_star.png">4.8</div>
                </div>
                <div class="row course 3 row8">
                    <div class="col-md-7 fw-bold">1.200.000 VNĐ</div>
                    <div class="col-md-5 fw-bold" style="text-align: right" >Join now  <img src="../public/image/🦆%20icon%20_arrow%20right.png"></div>
                </div>
            </div>
            <div class="col-md-4" id="row3CourseSmall3" style="border-style: ridge">
                <div class="row course 3 row9" style="height: 150px">
                    <div class="col-md-6">
                        <img src="../public/image/Course%20SQl.png">
                    </div>
                    <div class="col-md-6" style="text-align: right">
                        <button type="button" class="btn-login btn btn-danger" style="font-size: 20px">Database</button>
                        <p class="fw-bold" style="font-size: 30px" >Basic SQL<br/> Tutorial</p>
                    </div>
                </div>
                <div class="row course 3 row10">
                    <p style="height: 120px">SQL là ngôn ngữ lập trình để truy vấn và quản lý cơ sở dữ liệu, được sử dụng trong các ứng dụng liên quan đến dữ liệu như hệ thống quản lý cơ sở dữ liệu, trang web kinh doanh và các ứng dụng phân tích dữ liệu</p>
                </div>
                <div class="row course 3 row11">
                    <div class="col-md-10"><img src="../public/image/Course%20mu.png">AnHN</div>
                    <div class="col-md-2"><img src="../public/image/🦆course_icon%20_star.png">4.8</div>
                </div>
                <div class="row course 3 row12">
                    <div class="col-md-7 fw-bold">1.200.000 VNĐ</div>
                    <div class="col-md-5 fw-bold" style="text-align: right">Join now  <img src="../public/image/🦆%20icon%20_arrow%20right.png"></div>
                </div>
            </div>
        </div>
        <div class="row course" id="row4Course">
            <h1 style="font-weight: bold; font-size: 50px">FAQ</h1>
            <p style="font-weight: bold; font-size: 40px">Câu hỏi thường gặp ?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, assumenda?<br/><br/><br/></p>
            <div class="row question-course">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne" >
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, obcaecati. Minus, ea quisquam. Vel labore distinctio ipsum? Aperiam, veritatis tenetur. Eum ipsam quod quas temporibus quidem nisi. Ipsum, dolorum necessitatibus.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, obcaecati. Minus, ea quisquam. Vel labore distinctio ipsum? Aperiam, veritatis tenetur. Eum ipsam quod quas temporibus quidem nisi. Ipsum, dolorum necessitatibus.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, obcaecati. Minus, ea quisquam. Vel labore distinctio ipsum? Aperiam, veritatis tenetur. Eum ipsam quod quas temporibus quidem nisi. Ipsum, dolorum necessitatibus.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        </button>
                    </h2>
                    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, obcaecati. Minus, ea quisquam. Vel labore distinctio ipsum? Aperiam, veritatis tenetur. Eum ipsam quod quas temporibus quidem nisi. Ipsum, dolorum necessitatibus.</div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>
<script src="../libs/bootstrap/js/bootstrap.bundle.js"></script>
</body>
</html>