<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Master New Skills with LTTA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../libs/fontawesome/css/all.min.css">
    <link rel="shortcut icon" href="../public/image/favaticon.png" type="image/x-icon">
    <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="../public/main.css">
    <link rel="stylesheet" href="../public/anhn.css">
</head>
<header>
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <div class="col-md-3 mb-2 mb-md-0">
                <a href="/C0623G1_Ho_Ngoc_An_Module_3/castudyWeb/Casestudy_Course_Management/public"
                   class="d-inline-flex link-body-emphasis text-decoration-none">
                    <img src="../public/image/logo-website.png" alt="Logo Website">
                </a>
            </div>

            <ul class="nav nav-header col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-4">Trang chủ</a></li>
                <li><a href="#" class="nav-link px-4">Khóa học</a></li>
                <li><a href="#" class="nav-link px-4">Cộng đồng</a></li>
                <li><a href="#" class="nav-link px-4">Về chúng tôi</a></li>
            </ul>

            <div class="col-md-3 text-end">
                <button type="button" class="btn-login btn btn-dark">Đăng nhập</button>
            </div>
        </div>
    </div>
</header>
<body>
<section>
    <div class="container">
        <div class="row course 1">
            <div class="col-md-12">
                <div class="card text-bg-dark">
                     <img src="../public/image/imgSL1.png" class="card-img" alt="...">
                         <div class="card-img-overlay">
                             <div class="col-md-8">
                                 <a href="#" class="card-title">Tất cả khóa học</a><br/>
                                 <a href="#" class="card-text justify-content-center">Lorem ipsum dolor sit amet consectetur adipisiccing elit.
                                     Dolores pariatur quibusdam adipisci dignissimos voluptate amet, dolorum dicta maiores!
                                     Minima cupiditate enum, illo odio explicabo temporibus sequi enim maxime facere! Quis!</a>
                             </div>
                             <div class="col-md-4"></div>
                         </div>
                </div>
            </div>
        </div>
        <div class="row course 2">
            <div class="col-md-4">
                <div class="row course 2 row1">
                    <div class="col-md-5">
                        <img src="../public/image/Course%20JV.png">
                    </div>
                    <div class="col-md-7" style="text-align: right">
                        <button type="button" class="btn-login btn btn-primary" style="font-size: 25px" >Javascript</button>
                        <p style="font-size: 30px; font-weight: bold" >JavaScript  Foudatament</p>
                    </div>
                </div>
                <div class="row course 2 row2">
                    <p>JavaScript là ngôn ngữ lập trình phía client, được sử dụng chủ yếu trong các ứng dụng web để tạo ra các hiệu ứng tương tác trên trang web</p>
                </div>
                <div class="row course 2 row3">
                    <div class="col-md-10"><img src="../public/image/Course%20mu.png" >ThanhPV</div>
                    <div class="col-md-2"><img src="../public/image/🦆course_icon%20_star.png">4.8</div>
                </div>
                <div class="row course 2 row4">
                    <div class="col-md-7 fw-bold">1.200.000 VNĐ</div>
                    <div class="col-md-5 fw-bold" style="text-align: right">Join now  <img src="../public/image/🦆%20icon%20_arrow%20right.png"></div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="row course 2 row5">
                    <div class="col-md-6">
                        <img src="../public/image/Course%20JS.png">
                    </div>
                    <div class="col-md-6" style="text-align: right">
                        <button type="button" class="btn-login btn btn-warning"  >Java</button>
                        <p class="fw-bold" style="font-size: 30px" >Basic Java <br/>Tutorial</p>
                    </div>
                </div>
                <div class="row course 2 row6">
                    <p>Java là một ngôn ngữ lập trình đa nền tảng, sử dụng để phát triển các ứng dụng desktop, mobile, web và một số hệ thống phức tạp</p>
                </div>
                <div class="row course 2 row7">
                    <div class="col-md-10"><img src="../public/image/Course%20mu.png">LoanTTV</div>
                    <div class="col-md-2"><img src="../public/image/🦆course_icon%20_star.png">4.8</div>
                </div>
                <div class="row course 2 row8">
                    <div class="col-md-7 fw-bold">1.200.000 VNĐ</div>
                    <div class="col-md-5 fw-bold" style="text-align: right" >Join now  <img src="../public/image/🦆%20icon%20_arrow%20right.png"></div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="row course 2 row9">
                    <div class="col-md-6">
                        <img src="../public/image/Course%20SQl.png">
                    </div>
                    <div class="col-md-6" style="text-align: right">
                        <button type="button" class="btn-login btn btn-danger" >Database</button>
                        <p class="fw-bold" style="font-size: 30px" >Basic SQL<br/> Tutorial</p>
                    </div>
                </div>
                <div class="row course 2 row10">
                    <p>Java là một ngôn ngữ lập trình đa nền tảng, sử dụng để phát triển các ứng dụng desktop, mobile, web và một số hệ thống phức tạp</p>
                </div>
                <div class="row course 2 row11">
                    <div class="col-md-10"><img src="../public/image/Course%20mu.png">AnHN</div>
                    <div class="col-md-2"><img src="../public/image/🦆course_icon%20_star.png">4.8</div>
                </div>
                <div class="row course 2 row12">
                    <div class="col-md-7 fw-bold">1.200.000 VNĐ</div>
                    <div class="col-md-5 fw-bold" style="text-align: right">Join now  <img src="../public/image/🦆%20icon%20_arrow%20right.png"></div>
                </div>
            </div>
            </div>
        </div>

    </div>
</section>
<script src="../libs/bootstrap/js/bootstrap.bundle.js"></script>
</body>
</html>