<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Master New Skills with LTTA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../libs/fontawesome/css/all.min.css">
    <link rel="shortcut icon" href="../public/image/favaticon.png" type="image/x-icon">
    <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="../public/course.css">
    <link rel="stylesheet" href="../public/main.css">
</head>
<header id="header">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <div class="col-md-3 mb-2 mb-md-0">
                <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                    <img src="../public/image/logo-website.png" alt="Logo Website">
                </a>
            </div>

            <ul class="nav nav-header col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-4">Trang chủ</a></li>
                <li><a href="#" class="nav-link px-4">Khóa học</a></li>
                <li><a href="#" class="nav-link px-4">Cộng đồng</a></li>
                <li><a href="#" class="nav-link px-4">Về chúng tôi</a></li>
            </ul>

            <div class="col-md-3 text-end">
                <button type="button" class="btn-login btn btn-primary">Đăng nhập</button>
            </div>
        </div>
    </div>
</header>
<body>
<section id="all-course-page">
    <div class = "container">
        <div class="row course" id="row1Course">
            <div class="col-md-12">
                <div class="card text-bg-dark">
                    <img src="../public/image/imgSL1.png" class="card-img" alt="...">
                    <div class="card-img-overlay">
                        <div class="col-md-8">
                            <p class="card-title">Tất cả khóa học</p><br/>
                            <p class="card-text justify-content-center">Lorem ipsum dolor sit amet consectetur
                                adipisiccing elit.
                                Dolores pariatur quibusdam adipisci dignissimos voluptate amet, dolorum dicta maiores!
                                Minima cupiditate enum, illo odio explicabo temporibus sequi enim maxime facere!
                                Quis!</p>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row course" id="row2Course">
            <div class="col-lg-4 mb-4">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <div class="row card-head">
                            <div class="col-md-4">
                                <img src="../public/image/Rectangle 43.png">
                            </div>
                            <div class="col-md-8 ml-auto">
                                <div class="category">
                                    <p class="text-right">Javascript
                                    </p>
                                </div>
                                <h3>Javascript Foudatament</h3>
                            </div>
                        </div>
                        <p class="card-text">JavaScript là ngôn ngữ lập trình phía client, được sử dụng chủ yếu trong
                            các ứng dụng web để tạo ra các hiệu ứng tương tác trên trang web</p>
                        <div class="card-bottom">
                            <div class="author"><i class="fa-solid fa-graduation-cap"></i> ThanhPV</div>
                            <div class="rating"><i class="fa-solid fa-star"></i> 4.8</div>
                        </div>
                        <div class="card-price">
                            <div class="price">1.200.000 VNĐ</div>
                            <button type="button" class="btn btn-outline-dark">Join now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <div class="row card-head">
                            <div class="col-md-4">
                                <img src="../public/image/Course%20JS.png">
                            </div>
                            <div class="col-md-8 ml-auto">
                                <div class="category">
                                    <p class="text-right">Java
                                    </p>
                                </div>
                                <h3>Basic Java <br>Tutorial</h3>
                            </div>
                        </div>
                        <p class="card-text">Java là một ngôn ngữ lập trình đa nền tảng, sử dụng để phát triển các ứng
                            dụng desktop, mobile, web và một số hệ thống phức tạp</p>
                        <div class="card-bottom">
                            <div class="author"><i class="fa-solid fa-graduation-cap"></i> ThanhPV</div>
                            <div class="rating"><i class="fa-solid fa-star"></i> 4.8</div>
                        </div>
                        <div class="card-price">
                            <div class="price">1.200.000 VNĐ</div>
                            <button type="button" class="btn btn-outline-dark">Join now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <div class="row card-head">
                            <div class="col-md-4">
                                <img src="../public/image/Course%20SQl.png">
                            </div>
                            <div class="col-md-8 ml-auto">
                                <div class="category">
                                    <p class="text-right">Java
                                    </p>
                                </div>
                                <h3>Basic SQL<br/> Tutorial</h3>
                            </div>
                        </div>
                        <p class="card-text">SQL là ngôn ngữ lập trình để truy vấn và quản lý cơ sở dữ liệu, được sử
                            dụng trong các ứng dụng liên quan đến dữ liệu </p>
                        <div class="card-bottom">
                            <div class="author"><i class="fa-solid fa-graduation-cap"></i> ThanhPV</div>
                            <div class="rating"><i class="fa-solid fa-star"></i> 4.8</div>
                        </div>
                        <div class="card-price">
                            <div class="price">1.200.000 VNĐ</div>
                            <button type="button" class="btn btn-outline-dark">Join now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <div class="row card-head">
                            <div class="col-md-4">
                                <img src="../public/image/Rectangle 43.png">
                            </div>
                            <div class="col-md-8 ml-auto">
                                <div class="category">
                                    <p class="text-right">Javascript
                                    </p>
                                </div>
                                <h3>Javascript Foudatament</h3>
                            </div>
                        </div>
                        <p class="card-text">JavaScript là ngôn ngữ lập trình phía client, được sử dụng chủ yếu trong
                            các ứng dụng web để tạo ra các hiệu ứng tương tác trên trang web</p>
                        <div class="card-bottom">
                            <div class="author"><i class="fa-solid fa-graduation-cap"></i> ThanhPV</div>
                            <div class="rating"><i class="fa-solid fa-star"></i> 4.8</div>
                        </div>
                        <div class="card-price">
                            <div class="price">1.200.000 VNĐ</div>
                            <button type="button" class="btn btn-outline-dark">Join now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <div class="row card-head">
                            <div class="col-md-4">
                                <img src="../public/image/Course%20JS.png">
                            </div>
                            <div class="col-md-8 ml-auto">
                                <div class="category">
                                    <p class="text-right">Java
                                    </p>
                                </div>
                                <h3>Basic Java <br>Tutorial</h3>
                            </div>
                        </div>
                        <p class="card-text">Java là một ngôn ngữ lập trình đa nền tảng, sử dụng để phát triển các ứng
                            dụng desktop, mobile, web và một số hệ thống phức tạp</p>
                        <div class="card-bottom">
                            <div class="author"><i class="fa-solid fa-graduation-cap"></i> ThanhPV</div>
                            <div class="rating"><i class="fa-solid fa-star"></i> 4.8</div>
                        </div>
                        <div class="card-price">
                            <div class="price">1.200.000 VNĐ</div>
                            <button type="button" class="btn btn-outline-dark">Join now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <div class="row card-head">
                            <div class="col-md-4">
                                <img src="../public/image/Course%20SQl.png">
                            </div>
                            <div class="col-md-8 ml-auto">
                                <div class="category">
                                    <p class="text-right">Java
                                    </p>
                                </div>
                                <h3>Basic SQL<br/> Tutorial</h3>
                            </div>
                        </div>
                        <p class="card-text">SQL là ngôn ngữ lập trình để truy vấn và quản lý cơ sở dữ liệu, được sử
                            dụng trong các ứng dụng liên quan đến dữ liệu </p>
                        <div class="card-bottom">
                            <div class="author"><i class="fa-solid fa-graduation-cap"></i> ThanhPV</div>
                            <div class="rating"><i class="fa-solid fa-star"></i> 4.8</div>
                        </div>
                        <div class="card-price">
                            <div class="price">1.200.000 VNĐ</div>
                            <button type="button" class="btn btn-outline-dark">Join now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row course" id = "row4Course">
            <h1 style="font-weight: bold; font-size: 50px">FAQ</h1>
            <p style="font-weight: bold; font-size: 40px">Câu hỏi thường gặp ?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, assumenda?<br/><br/><br/></p>
            <div class="row question-course">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseOne" aria-expanded="false"
                                    aria-controls="flush-collapseOne">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                             aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero,
                                obcaecati. Minus, ea quisquam. Vel labore distinctio ipsum? Aperiam, veritatis tenetur.
                                Eum ipsam quod quas temporibus quidem nisi. Ipsum, dolorum necessitatibus.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                    aria-controls="flush-collapseTwo">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                             aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero,
                                obcaecati. Minus, ea quisquam. Vel labore distinctio ipsum? Aperiam, veritatis tenetur.
                                Eum ipsam quod quas temporibus quidem nisi. Ipsum, dolorum necessitatibus.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseThree" aria-expanded="false"
                                    aria-controls="flush-collapseThree">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse"
                             aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero,
                                obcaecati. Minus, ea quisquam. Vel labore distinctio ipsum? Aperiam, veritatis tenetur.
                                Eum ipsam quod quas temporibus quidem nisi. Ipsum, dolorum necessitatibus.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseThree" aria-expanded="false"
                                    aria-controls="flush-collapseThree">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse"
                             aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero,
                                obcaecati. Minus, ea quisquam. Vel labore distinctio ipsum? Aperiam, veritatis tenetur.
                                Eum ipsam quod quas temporibus quidem nisi. Ipsum, dolorum necessitatibus.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="../libs/bootstrap/js/bootstrap.bundle.js"></script>
</body>
</html>