<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../libs/fontawesome/css/all.min.css">
    <link rel="shortcut icon" href="../public/image/favaticon.png" type="image/x-icon">
    <link rel="stylesheet" href="../public/main.css">
    <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>
<body>
<section>
    <div class="container my-4">
        <div class="row">
            <div class="col-lg-3 siderbar-dashboard">
                <div class="menu-left">
                    <div class="img-logo-dashboard">
                        <img src="../public/image/logo-website-dark-thanhpv.png" width="100%"/>
                    </div>
                    <div class="table-of-contents">
                        <h2>Nội dung khóa học</h2>
                        <hr>
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne" aria-expanded="true"
                                            aria-controls="collapseOne">
                                        1. Introduction
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show"
                                     aria-labelledby="headingOne"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="list-group">
                                            <a href="#" class="list-group-item list-group-item-action"
                                               aria-current="true">
                                                <i class="fa-solid fa-video"></i> Bài giảng về Javascript
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action"><i
                                                    class="fa-solid fa-video"></i> Bài giảng về Biến, Array</a>
                                            <a href="#" class="list-group-item list-group-item-action"><i
                                                    class="fa-solid fa-book-open-reader"></i> Bài đọc về Array</a>
                                            <a href="#" class="list-group-item list-group-item-action"><i
                                                    class="fa-solid fa-book-open-reader"></i> Bài đọc về Function</a>
                                            <a href="#" class="list-group-item list-group-item-action"><i
                                                    class="fa-solid fa-book-open-reader"></i> Bài đọc về Kiểu dữ
                                                liệu</a>
                                            <a href="#" class="list-group-item list-group-item-action active"><i
                                                    class="fa-solid fa-graduation-cap"></i> Bài tập về Tìm số nguyên tố</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseTwo" aria-expanded="false"
                                            aria-controls="collapseTwo">
                                        2. String
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="list-group">
                                            <a href="#" class="list-group-item list-group-item-action active"
                                               aria-current="true">
                                                <i class="fa-solid fa-video"></i> Bài giảng về Javascript
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action"><i
                                                    class="fa-solid fa-video"></i> Bài giảng về Biến, Array</a>
                                            <a href="#" class="list-group-item list-group-item-action"><i
                                                    class="fa-solid fa-book-open-reader"></i> Bài đọc về Array</a>
                                            <a href="#" class="list-group-item list-group-item-action"><i
                                                    class="fa-solid fa-book-open-reader"></i> Bài đọc về Function</a>
                                            <a href="#" class="list-group-item list-group-item-action"><i
                                                    class="fa-solid fa-book-open-reader"></i> Bài đọc về Kiểu dữ
                                                liệu</a>
                                            <a href="#" class="list-group-item list-group-item-action"><i
                                                    class="fa-solid fa-graduation-cap"></i> Bài tập về Tìm số nguyên tố</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseThree" aria-expanded="false"
                                            aria-controls="collapseThree">
                                        3. Thao tác với mảng
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse"
                                     aria-labelledby="headingThree"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="list-group">
                                            <a href="#" class="list-group-item list-group-item-action active"
                                               aria-current="true">
                                                <i class="fa-solid fa-video"></i> Bài giảng về Javascript
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action"><i
                                                    class="fa-solid fa-video"></i> Bài giảng về Biến, Array</a>
                                            <a href="#" class="list-group-item list-group-item-action"><i
                                                    class="fa-solid fa-book-open-reader"></i> Bài đọc về Array</a>
                                            <a href="#" class="list-group-item list-group-item-action"><i
                                                    class="fa-solid fa-book-open-reader"></i> Bài đọc về Function</a>
                                            <a href="#" class="list-group-item list-group-item-action"><i
                                                    class="fa-solid fa-book-open-reader"></i> Bài đọc về Kiểu dữ
                                                liệu</a>
                                            <a href="#" class="list-group-item list-group-item-action"><i
                                                    class="fa-solid fa-graduation-cap"></i> Bài tập về Tìm số nguyên tố</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingFour">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseFour" aria-expanded="false"
                                            aria-controls="collapseFour">
                                        4. Object
                                    </button>
                                </h2>
                                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="list-group">
                                            <a href="#" class="list-group-item list-group-item-action active"
                                               aria-current="true">
                                                <i class="fa-solid fa-video"></i> Bài giảng về Javascript
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action"><i
                                                    class="fa-solid fa-video"></i> Bài giảng về Biến, Array</a>
                                            <a href="#" class="list-group-item list-group-item-action"><i
                                                    class="fa-solid fa-book-open-reader"></i> Bài đọc về Array</a>
                                            <a href="#" class="list-group-item list-group-item-action"><i
                                                    class="fa-solid fa-book-open-reader"></i> Bài đọc về Function</a>
                                            <a href="#" class="list-group-item list-group-item-action"><i
                                                    class="fa-solid fa-book-open-reader"></i> Bài đọc về Kiểu dữ
                                                liệu</a>
                                            <a href="#" class="list-group-item list-group-item-action"><i
                                                    class="fa-solid fa-graduation-cap"></i> Bài tập về Tìm số nguyên tố</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingFive">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseFive" aria-expanded="false"
                                            aria-controls="collapseFive">
                                        5. Toán tử
                                    </button>
                                </h2>
                                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="list-group">
                                            <a href="#" class="list-group-item list-group-item-action active"
                                               aria-current="true">
                                                <i class="fa-solid fa-video"></i> Bài giảng về Javascript
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action"><i
                                                    class="fa-solid fa-video"></i> Bài giảng về Biến, Array</a>
                                            <a href="#" class="list-group-item list-group-item-action"><i
                                                    class="fa-solid fa-book-open-reader"></i> Bài đọc về Array</a>
                                            <a href="#" class="list-group-item list-group-item-action"><i
                                                    class="fa-solid fa-book-open-reader"></i> Bài đọc về Function</a>
                                            <a href="#" class="list-group-item list-group-item-action"><i
                                                    class="fa-solid fa-book-open-reader"></i> Bài đọc về Kiểu dữ
                                                liệu</a>
                                            <a href="#" class="list-group-item list-group-item-action"><i
                                                    class="fa-solid fa-graduation-cap"></i> Bài tập về Tìm số nguyên tố</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 content-dashboard">
                <div class="header-content">
                    <div class="hello">
                        <form class="row form-search-course g-2">
                            <div class="col-auto">
                                <input type="text" class="form-control" id="inputEmail"
                                       placeholder=" Nhập khóa học cần tìm">
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="btn btn-primary">Tìm</button>
                            </div>
                        </form>
                    </div>
                    <div class="user">
                       <span class="badge d-flex align-items-center p-1 pe-2 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-pill">
                            <img class="rounded-circle me-1" width="35" height="35"
                                 src="https://zpsocial-f54-org.zadn.vn/24a379da816c6f32367d.jpg" alt="">Trần Thị Vân Loan
                       </span>
                    </div>
                </div>
                <div class="intro-dashboard-page mt-5">
                    <h3>Javascript Foudatament</h3>
                    <p>JavaScript là ngôn ngữ lập trình phía client, được sử dụng chủ yếu trong các ứng dụng web để tạo
                        ra các hiệu ứng tương tác trên trang web</p>
                </div>
                <div class="row content-course video my-3">
                    <div class="col-lg-12">
                        <div class="main-content">
                            <h3>Bài tập về Tìm số nguyên tố</h3>
                            <p>Tìm tất cả các số nguyên tố bé hơn 1000 và đưa vào 1 mảng</p>
                            <h3>Mục tiêu</h3>
                            <p>Luyện tập sử dụng mảng, sử dụng vòng lặp để thao tác với mảng.</p>

                            <h3>Mô tả</h3>
                            <p>Phát triển một ứng dụng từ điển đơn giản. Ứng dụng cho phép tra cứu các từ tiếng Anh sang
                                tiếng Việt. Danh sách các từ được lưu trữ trong các mảng.</p>

                            <p>Để hoàn thành bài thực hành, học viên cần:</p>
                            <ul>
                                <li>Đưa mã nguồn lên GitHub</li>
                                <li>
                                    Dán link của repository lên phần nộp bài trên CodeGymX
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="../libs/bootstrap/js/bootstrap.bundle.js"></script>
</body>
</html>