<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Master New Skills with LTTA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../libs/fontawesome/css/all.min.css">
    <link rel="shortcut icon" href="../public/image/favaticon.png" type="image/x-icon">
    <link rel="stylesheet" href="../public/main.css">
    <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>
<header>
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <div class="col-md-3 mb-2 mb-md-0">
                <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                    <img src="../public/image/logo-website.png" alt="Logo Website">
                </a>
            </div>

            <ul class="nav nav-header col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-4">Trang chủ</a></li>
                <li><a href="#" class="nav-link px-4">Khóa học</a></li>
                <li><a href="#" class="nav-link px-4">Cộng đồng</a></li>
                <li><a href="#" class="nav-link px-4">Về chúng tôi</a></li>
            </ul>

            <div class="col-md-3 text-end">
                <button type="button" class="btn-login btn btn-primary">Đăng nhập</button>
            </div>
        </div>
    </div>
</header>
<body>
<section>
    <div class="container">
        <div class="row hero-home">
            <div class="col-lg-6">
                <h1>Master New Skills with LTTA</h1>
                <p>Những khóa học được LTTA sản xuất theo tiêu chuẩn chất lượng cao đối với học tập trực tuyến</p>
                <div class="row">
                    <div class="col-4">
                        <button type="button" class="btn-hero btn btn-primary">Get Started</button>
                    </div>
                    <div class="col-5">
                        <div class="circle-item">
                            <img src="../public/image/Ellipse 1.png" alt="">
                            <img src="../public/image/Ellipse 2.png" alt="">
                            <img src="../public/image/Ellipse 3.png" alt="">
                            <img src="../public/image/Ellipse 4.png" alt="">
                        </div>
                    </div>
                    <div class="col-3 using">
                        <p class="title">42k +</p>
                        <p>User using</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 img-hero">
                <img src="../public/image/vector-banner 1.png">
            </div>
        </div>
    </div>
</section>
<script src="../libs/bootstrap/js/bootstrap.bundle.js"></script>
</body>
</html>